<div class="row">
	<div class="span8">
		<%= render 'events/info' %>
	</div>
	<aside class="span4">
		<section>
			<%= render 'events/member' %>
			<%= render 'participates_form' if signed_in? %>
		</section>
	</aside>
</div>